* {
    outline: none;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    color: #555;
    font-family: 'Montserrat', Regular, Arial, Helvetica, sans-serif;
    background: center/cover url('https://images.pexels.com/photos/5827389/pexels-photo-5827389.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat #0000;
    font-size: var(--font-size--small);
    font-weight: lighter;
}

img {
    width: var(--icon-height-small);
}

.main-contrainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: var(--spacer-10);
}

.dashboard__table{
    box-shadow: var(--shadow-regular);
    height: 50vh;
    width: 100%;
    border-radius: var(--border-3);
    background-color: #FFF;
    box-sizing: border-box;
    padding: var(--spacer-3);
    overflow: scroll;
}

.dashboard-container {
    width: 80%;
}

th {
    font-weight: bold;
}

h1 {
    font-weight: bold;
    color: white;
    font-size: var(--font-size--huge);
    margin-bottom: var(--spacer-7);
    font-family: 'Montserrat',sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

table {
    margin: auto;
    width: 95%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

tbody:before {
    content:"@";
    display:block;
    line-height:var(--spacer-5);
    text-indent:-99999px;
}

thead{
    border-bottom: var(--border-icon);
    height: var(--height-thead);
}

textarea{
    width: 100%;
    height: var(--height-textarea);
    border-radius: var(--border-2);
    padding: var(--spacer-4);
    box-sizing: border-box;
    background-color: #FFF;
    font-size: var(--font-size--normal);
    border: none;
    box-shadow: var(--shadow-regular);
}

form{
    display: flex;
    flex-direction: column;
    gap: var(--spacer-5);
}

input {
    width: 100%;
    border: none;
    border-radius: var(--border-2);
    outline: none;
    transition: .4s;
    height: var(--height-input);
    font-size: 24px;
    text-indent: var(--spacer-4);
    background-color: #FFF;
    font-size: var(--font-size--normal);
    box-shadow: var(--shadow-regular);
}

button{
    transition: background-color 0.3s ease;
    padding: var(--spacer-2) var(--spacer-5); /* Ajustez la taille du bouton ici */
    background-color: #4F74B1;
    height: var(--height-button);
    color: #fff;
    border-radius: 10px; /* Augmentation du rayon pour un look plus arrondi */
    text-align: center;
    font-size: 16px; /* Ajustez la taille de la police ici */
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: var(--shadow-regular);
}

/* Style du bouton au survol */
button:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
}

.fa {
    font-size: var(--icon-height-small);
}
.fa-eye, .fa-download{
    color: black;
}
.fa-user-circle{
    color: white;
}

/* Style du bouton au survol */
.button-secondary{
    background-color: #FFF;
    border: var(--border-button);
    color: var(--primary-color);
}

.button-primary{
    background-color: var(--primary-color);
}

.button-primary:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: var(--border-button);
}

.button-secondary:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
}