header {
    background: #4F74B1;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.menu-list{
    justify-content: space-between;
    width: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: var(--spacer-4);
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
    transition: color 0.3s ease;
}