.login-container{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container h1{
    text-shadow: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 70%;
    background-color: #ffffff;
    gap: 10px; /* Ajustez l'espacement vertical entre les éléments */
    border-radius: 5%;
    position: relative;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
    margin: auto; /* Centrer horizontalement */
    padding: var(--spacer-3);
}

.container > h1 {
    color: black;
}

.container > h3{
    margin-bottom: 3rem;
}

/* bouton */
.button {
    display: block;
    margin: 0 auto; /* Pour centrer le bouton horizontalement */
}

/* Clearfix */
.cf:after, .cf:before {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.input-login {
    width: 100%;
}

label {
    position: absolute;
    left: 20px;
    color: #a0a0a0;
    height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    transition: .2s;
    font-family: Regular, Arial, Helvetica, sans-serif;

    font-size: 12px;
}

.oublie {
    text-decoration: none;
    font-size: 10px;
}

.login-form {
    height: 60%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form button {
    margin-top: 15px; /* Ajouter une marge en haut au bouton */
    margin-bottom: 5px; /* Ajuster la marge en bas du bouton */
}

input:focus {
    border: 2px solid #1f1fff;
    box-shadow: #6767ff 0px 1px 1px, #6767ff 0px 0px 0px 1px;
}

input:focus + label {
    left: 20px;
    transform: translateY(-22px);
    font-size: 12px;
    background-color: #24242c;
}

.up {
    left: 20px;
    transform: translateY(-22px);
    font-size: 12px;
    background-color: #24242c;
}

h3 {
    color: rgb(171, 171, 171);
    font-weight: lighter;
    font-size: var(--font-size--normal);
}

.popup-roles {
    list-style: none;
    width: 110%;
    height: 80%;
    position: absolute;
    background: #ffffff;
    border-radius: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.form-select {
    width: 300px;
    height: var(--height-button);
    background-color: #D9D9D9;
    background: center/contain url('fond-select.PNG');
    border: 0px;
    border-radius: 10px;
    appearance: none;
    padding-left: 2%;
    font-family: 'Montserrat', sans-serif;
    color: #2c2c2c;
}

.img-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-popup>img {
    height: 15rem;
    width: 15rem;
}
.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35rem;
    margin-top: 10%;
    min-height: 80vh;
}
.container-popup {
    border-radius: 10px;
    width: 50rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    position: relative;
}
.form-popup {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.popup-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    color: black;
    text-shadow: none;
    font-family: 'Montserrat', serif;
    margin-top: 5%;
}
.background-blur {
    display: inline;
    backdrop-filter: blur(10px);
    position: absolute;
}


.alert {
    color: red;
    font-size: 15px;
}

@media only screen and (max-width: 750px) {
    body {
        display: none;
    }

    /* .pic2 {
        display: block;
    } */
    .container {
        width: 100%;
    }
}
