.login-container{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 70%;
    background-color: #ffffff;
    gap: 10px; /* Ajustez l'espacement vertical entre les éléments */
    padding-top: 50px; /* Ajustez la marge intérieure */
    border-radius: 5%;
    position: relative;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
    margin: auto; /* Centrer horizontalement */
}

.container > h1 {
    color: black;
}

a {
    outline: none !important;
}

/* bouton */
.button {
    display: block;
    margin: 0 auto; /* Pour centrer le bouton horizontalement */
}

/* Clearfix */
.cf:after, .cf:before {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}


.background-blur > *:not(.popup-roles) {
    filter: blur(1px);
}

.input-login {
    width: 100%;
}

label {
    position: absolute;
    left: 20px;
    color: #a0a0a0;
    height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    transition: .2s;
    font-family: Regular, Arial, Helvetica, sans-serif;

    font-size: 12px;
}

.oublie {
    text-decoration: none;
    font-size: 10px;
}

.login-form {
    height: 60%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form button {
    margin-top: 15px; /* Ajouter une marge en haut au bouton */
    margin-bottom: 5px; /* Ajuster la marge en bas du bouton */
}

input:focus {
    border: 2px solid #1f1fff;
    box-shadow: #6767ff 0px 1px 1px, #6767ff 0px 0px 0px 1px;
}

input:focus + label {
    left: 20px;
    transform: translateY(-22px);
    font-size: 12px;
    background-color: #24242c;
}

.up {
    left: 20px;
    transform: translateY(-22px);
    font-size: 12px;
    background-color: #24242c;
}

h3 {
    color: rgb(171, 171, 171);
    font-weight: lighter;
    font-size: 16px;
    margin-bottom: 40px;
}

.popup-roles {
    list-style: none;
    width: 110%;
    height: 80%;
    position: absolute;
    background: #ffffff;
    border-radius: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

a:hover {
    text-decoration: underline;
}

.alert {
    color: red;
    font-size: 15px;
}

@media only screen and (max-width: 750px) {
    body {
        display: none;
    }

    /* .pic2 {
        display: block;
    } */
    .container {
        width: 100%;
    }
}
