* {
	outline: none;
	padding: 0;
	margin: 0;
}
a {
	outline: none !important;
}
/* */
body {
	background-color: #F5F5F5;
	color: #555;
	font-size: 1.1em;
	font-family: Regular, Arial, Helvetica, sans-serif;
	outline: none;
	padding: 0;
	margin: 0;
}

.header{
	background:#4F74B1;
}

button ul {
	-webkit-font-smoothing: antialiased;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
button li {
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
}
/*
button {
    background-color : #4F74B1;
    border-radius: 5%;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Figtree', sans-serif;    
}*/

button {
    background-color : #4F74B1;
    border-radius: 12px;
    width: 40%;

}
button a {
	color: rgb(255, 255, 255);
	display: block;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Figtree', sans-serif; 
	padding-top: 7%;
    padding-bottom: 7%;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

button li:hover a {
	background: rgb(218, 218, 218);
	color:#4F74B1;
}
button a:hover {
	background: rgb(206, 206, 206);
	color:#4F74B1;
}
button li ul {
	float: left;
	left: 0;
	width:150%;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
button li:hover ul {
	opacity: 1;
	top: 50px;
	visibility: visible;
}
button li ul li {
	float: none;
	width: 100%;
}
button li ul a:hover {
	background: #bbb;
}
/* Clearfix */
.cf:after, .cf:before {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}

/** code **/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/**/
.container {
    display: flex;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 80%;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 5%;
}

.pic {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../images/imgfond.jpg");
    background-size: cover;
    background-position: center;
}

/* .pic2 {
    width: 100%;
    height: 15px;
    position: absolute;
    display: none;
    top: 0;
    background-image: url("https://4kwallpapers.com/images/wallpapers/dark-blue-pink-2560x2560-12661.jpg");
    background-size: cover;
    background-position: center;
} */

.inp {
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

label {
    position: absolute;
    left: 20px;
    color: #a0a0a0;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    transition: .2s;
    font-family: Regular, Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #9d9d9e;
    border-radius: 10px;
    outline: none;
    transition: .4s;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
}

input:focus {
    border: 2px solid #1f1fff;
    box-shadow: #6767ff 0px 1px 1px, #6767ff 0px 0px 0px 1px;
}

input:focus + label {
    left: 20px;
    transform: translateY(-22px);
    font-size: 12px;
    background-color: #24242c;
}

.up {
    left: 20px;
    transform: translateY(-22px);
    font-size: 12px;
    background-color: #24242c;
}


h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Figtree', sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}


a:hover {
    text-decoration: underline;
}

img {
    width: 70px;
    border-radius: 10px;
    border: 1px solid #494954;
}

@media only screen and (max-width: 750px) {
    .pic {
      display: none;
    }

    /* .pic2 {
        display: block;
    } */

    .container {
        width: 100%;
    }
}